DOMAIN_NAME=tsilva.42.fr

# MariaDB
MARIADB_DATABASE=wordpress
MARIADB_USER=dbuser

# WordPress
WP_TITLE="Inception"
WP_ADMIN_USER=tsilva
WP_ADMIN_EMAIL=tsilva@student.42berlin.de
WP_USER=wpuser
WP_USER_EMAIL=wpuser@student.42berlin.de